@use './variables' as *;

@mixin button($max-height, $max-width) {
  border-radius: 10rem;
  border: transparent;
  padding: 12px 24px;
  max-width: $max-width;
  max-height: $max-height;
  background-color: $green-primary;
  white-space: nowrap;

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  text-align: center;
  color: $white;
}

@mixin user($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  border-radius: 100%;
  border: 2px solid $white;
  box-shadow: 0 0.9rem 3.2rem 0 rgba(89, 92, 219, 0.1);
}

@mixin img($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  border-radius: 24px;
}
