//Colors

$black: #1b1c57;
$yellow: #f59e0b;
$white: #fff;
$grey-light: #e0e3eb;
$grey-primary: #888b97;
$grey-dark: #626687;
$green-primary: #10b981;
$green-dark: #0b9567;
$green-light: #d1fae5;
$blue: #1d4ed8;
$blue-light: #dbeafe;
$red: #ef4444;
$pink: #fee2e2;

//Font

$default-font-size: 1.4rem;
