@charset "UTF-8";
body {
  font-family: "Lexend", serif;
  font-weight: 400;
  line-height: 1.5;
  color: #626687;
}

.subtitle {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: capitalize;
  color: #1b1c57;
}

.line {
  display: inline-block;
  width: 3.2rem;
  height: 1px;
  background-color: #f59e0b;
  margin: 8px 8px 0 0;
}

.decor {
  display: flex;
}

.subtitle-section {
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #f59e0b;
  margin-bottom: 0.4rem;
}

.name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33333;
  color: #1b1c57;
}

.city {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888b97;
}

.small-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #626687;
  opacity: 0.75;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.header,
.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.container {
  padding-bottom: 12rem;
}

.header {
  position: relative;
  z-index: 10;
  padding: 0 12.4rem;
  margin: 0 auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 4.5rem 0;
  width: 11.5rem;
  height: 3.6rem;
}

.nav {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.nav-list {
  display: flex;
  max-width: 52rem;
  gap: 2.4rem;
}
.nav-list-item {
  display: flex;
  border: 1px solid #fff;
  border-radius: 10rem;
  padding: 0.8rem 1.6rem;
  width: 10.2rem;
  height: 3.4rem;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.nav-list-item-link {
  padding: 4.5rem 0;
}
.nav-btn {
  border: 1px solid #0b9567;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  width: 11.8rem;
  height: 4.8rem;
  background-color: #d1fae5;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  text-align: center;
  color: #0b9567;
}

.input {
  position: relative;
  margin-bottom: 3.2rem;
}
.input-search {
  border: 1px solid #e0e3eb;
  border-radius: 2.8rem;
  padding: 0.4rem 0.4rem 0.4rem 6.4rem;
  width: 49.6rem;
  height: 5.6rem;
}
.input-search:placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.57143;
  color: #888b97;
}

.hero {
  margin: -12.6rem 0;
  background: radial-gradient(60% 110% at top left, #82f7ff -45%, transparent 50%), radial-gradient(80% 100% at 10% 10%, #82ffd2 -30%, transparent 40%);
}

.left {
  margin: 12.6rem 0;
  max-width: 72rem;
  padding: 5.6rem 10rem 10rem 12.4rem;
}
.left-title {
  width: 45rem;
  font-weight: 900;
  font-size: 4rem;
  text-transform: capitalize;
  color: #1b1c57;
  margin-bottom: 2.4rem;
}
.left-title-green {
  color: #10b981;
}
.left-text {
  margin-bottom: 3.2rem;
}
.left-map {
  position: absolute;
  top: 1.6rem;
  left: 2.4rem;
  fill: #f59e0b;
}
.left-btn-container {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}
.left-btn-container-search-button {
  border-radius: 10rem;
  border: transparent;
  padding: 1.2rem 2.4rem;
  width: 15rem;
  height: 4.8rem;
  background-color: #10b981;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
.left-paragraph {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #888b97;
  margin-bottom: 0.8rem;
}
.left-list {
  display: flex;
  gap: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 72rem;
  margin-top: -12.6rem;
  padding-left: 4.8rem;
  background-image: image-set(url(../img/hero.jpg) 1x, url(../img/hero@2x.jpg) 2x);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0 8rem;
  overflow-x: hidden;
}
.right-image {
  margin: 28.2rem 0 8.4rem 3.6rem;
}
.right-carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  max-width: 70rem;
  padding: 1rem;
  scroll-behavior: smooth;
}
.right-carousel-followers {
  display: flex;
  width: 87.6rem;
  gap: 1.6rem;
}
.right-carousel-followers:-webkit-scrollbar {
  display: none;
}
.right-carousel-followers-item {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 10.4rem;
  border-radius: 3.2rem;
  padding: 2.4rem;
  box-shadow: 0 1.1rem 4.8rem 0 rgba(51, 51, 51, 0.06);
  background: #fff;
  gap: 1.6rem;
  scroll-snap-align: start;
}
.right-carousel-followers-item-set {
  position: relative;
  height: 10.4rem;
  width: 11.2rem;
}
.right-carousel-followers-item-user {
  top: 2.4rem;
  border-radius: 100%;
  border: 0.3rem solid #fff;
  box-shadow: 0 0.9rem 3.2rem 0 rgba(89, 92, 219, 0.1);
}
.right-carousel-followers-item-users-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: #1b1c57;
  margin-bottom: 2px;
}
.right-carousel-followers-item-subtitle {
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  color: #888b97;
}

.first {
  position: absolute;
  left: 0;
}

.second {
  position: absolute;
  left: 2.8rem;
}

.third {
  position: absolute;
  left: 5.2rem;
}

.houses {
  border-radius: 24px;
}

.hero-arrow {
  position: absolute;
  top: 1.2rem;
  right: 2.4rem;
  fill: #fff;
}

.hero-btn {
  padding-right: 5.6rem;
}

.featured {
  padding-left: 8.4rem;
}

.featured .container {
  flex-direction: column;
  overflow-x: hidden;
}

.menu {
  display: flex;
  width: 1192px;
  margin-bottom: 3.8rem;
}
.menu-filters {
  display: flex;
  margin-right: auto;
  gap: 2.7rem;
}
.menu-filters-input {
  display: none;
}
.menu-filters-input:checked + .menu-filters-item {
  background-color: #d1fae5;
  border-color: transparent;
}
.menu-filters-item {
  display: flex;
  border: 1px solid #0b9567;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  height: 4.8rem;
  gap: 0.8rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  color: #0b9567;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-filters-item:focus, .menu-filters-item:hover, .menu-filters-item:active, .menu-filters-item-input:checked + .menu-filters-item-item {
  background-color: #d1fae5;
  border: transparent;
}
.menu-filters-icon {
  fill: #0b9567;
}
.menu-arrow-container {
  display: flex;
  gap: 1.6rem;
}
.menu-arrow-container-btn {
  border: 1px solid #10b981;
  border-radius: 10rem;
  padding: 1.2rem;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-arrow-container-btn:hover, .menu-arrow-container-btn:focus {
  border: 1px solid #10b981;
  background-color: #10b981;
}
.menu-arrow-container-btn:hover .menu-arrow-container-icon, .menu-arrow-container-btn:focus .menu-arrow-container-icon {
  fill: #fff;
}
.menu-arrow-container-icon {
  fill: #10b981;
  stroke-width: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.featured .subtitle {
  margin-left: 4rem;
  margin-right: auto;
}

.left-arrow {
  transform: rotate(180deg);
}

.featured-carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.featured-list {
  display: flex;
  gap: 3.2rem;
  overflow-y: hidden;
}
.featured-list:-webkit-scrollbar {
  display: none;
}
.featured-list-item {
  flex: 0 0 auto;
  border-radius: 2px;
  width: 37.6rem;
  scroll-snap-align: start;
}
.featured-list-item:nth-child(1) .featured-list-item-svg, .featured-list-item:nth-child(1n+3) .featured-list-item-svg {
  background-color: #fee2e2;
}
.featured-list-item:nth-child(1) .featured-list-item-svg-icon, .featured-list-item:nth-child(1n+3) .featured-list-item-svg-icon {
  fill: #ef4444;
}
.featured-list-item:nth-child(1) .featured-list-item-svg-text, .featured-list-item:nth-child(1n+3) .featured-list-item-svg-text {
  color: #ef4444;
}
.featured-list-item:nth-child(2) .featured-list-item-svg, .featured-list-item:nth-child(2n+3) .featured-list-item-svg {
  background-color: #dbeafe;
}
.featured-list-item:nth-child(2) .featured-list-item-svg-icon, .featured-list-item:nth-child(2n+3) .featured-list-item-svg-icon {
  fill: #1d4ed8;
}
.featured-list-item:nth-child(2) .featured-list-item-svg-text, .featured-list-item:nth-child(2n+3) .featured-list-item-svg-text {
  color: #1d4ed8;
}
.featured-list-item:nth-child(3) .featured-list-item-svg, .featured-list-item:nth-child(3n+3) .featured-list-item-svg {
  background-color: #d1fae5;
}
.featured-list-item:nth-child(3) .featured-list-item-svg-icon, .featured-list-item:nth-child(3n+3) .featured-list-item-svg-icon {
  fill: #10b981;
}
.featured-list-item:nth-child(3) .featured-list-item-svg-text, .featured-list-item:nth-child(3n+3) .featured-list-item-svg-text {
  color: #10b981;
}
.featured-list-item-box {
  position: relative;
  margin-bottom: 2.4rem;
}
.featured-list-item-img {
  border-radius: 2.4rem;
  width: 37.6rem;
  height: 38.2rem;
}
.featured-list-item-svg {
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 3.2rem;
  padding: 0.8rem 1.6rem;
  width: max-content;
  height: 3.4rem;
  gap: 0.8rem;
}
.featured-list-item-svg-text {
  font-weight: 500;
  font-size: 1.4rem;
}
.featured-list-item-title {
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: capitalize;
  color: #1b1c57;
  margin-bottom: 0.8rem;
}
.featured-list-item-price {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  color: #626687;
  margin-bottom: 2.4rem;
}
.featured-list-item-container {
  display: flex;
  align-items: center;
  max-width: 34rem;
  gap: 1.6rem;
}
.featured-list-item-user {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33333;
  color: #1b1c57;
}
.featured-list-item-user-city {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888b97;
}

.orange {
  border-radius: 100%;
}

.tour {
  position: relative;
  padding: 0 12.4rem 0 8.4rem;
}
.tour-left {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 19.5rem;
  width: 52.4rem;
}
.tour-left-subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #888b97;
  opacity: 0.75;
  margin: 1.6rem 0 2.4rem 0;
}
.tour-left-paragraph {
  font-weight: 600;
  font-size: 1.6rem;
  color: #1b1c57;
  margin-bottom: 2.4rem;
}
.tour-left-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 44rem;
  max-height: 8rem;
  gap: 1.6rem 5.3rem;
}
.tour-left-list-item {
  display: flex;
  max-width: 19.3rem;
  gap: 1.6rem;
  align-items: center;
}
.tour-left-list-item-icon {
  border-radius: 4px;
  fill: #626687;
}
.tour-left-list-item-text {
  font-weight: 500;
  font-size: 1.6rem;
  color: #626687;
}
.tour-left-container {
  margin-left: 4rem;
}
.tour-left-container-list {
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;
  border-bottom: 2px solid #e0e3eb;
}
.tour-left-bottom {
  display: flex;
  align-items: center;
}
.tour-left-bottom-img {
  margin-right: 1.6rem;
}
.tour-left-bottom-container {
  margin-right: 8.4rem;
}
.tour-left-bottom-box-btn {
  position: relative;
}
.tour-left-bottom-icon {
  position: absolute;
  top: 1.2rem;
  left: 2.4rem;
  fill: #fff;
}
.tour-left-bottom-btn {
  border-radius: 10rem;
  border: transparent;
  padding: 1.2rem 2.4rem;
  width: 17.1rem;
  height: 4.8rem;
  background-color: #10b981;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  padding-left: 5rem;
}

.tour-right {
  position: relative;
  width: 52.8rem;
  height: 45.9rem;
}
.tour-right-video {
  border-radius: 0.8rem;
  width: 47.8rem;
  height: 41.6rem;
  display: block;
  object-fit: cover;
  max-width: 100%;
  margin: 0 0 4.3rem 5rem;
}
.tour-right-video-play {
  position: absolute;
  top: 18.4rem;
  left: 26rem;
}
.tour-right-images {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  gap: 0.8rem;
}
.tour-right-images-img {
  border-radius: 0.8rem;
}

.sofa {
  margin-right: 4px;
}

.decor-red {
  position: absolute;
  top: -60%;
  right: 0;
}

.decor-yellow {
  position: absolute;
  top: -40%;
  right: 0;
}

.about .container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.box {
  height: 53.7rem;
  display: flex;
  margin-top: 4rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  max-width: 144rem;
  overflow-y: hidden;
  scroll-padding-left: 100%;
}
.box-list {
  display: flex;
  gap: 3.2rem;
}
.box-list:-webkit-scrollbar {
  display: none;
}
.box-list-item {
  width: 78.4rem;
  height: 50.5rem;
  scroll-snap-align: center;
  position: relative;
}
.box-list-item-img {
  border-radius: 0.8rem;
}
.box-list-item-container {
  position: absolute;
  top: 26rem;
  left: 8.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  border-radius: 1.6rem;
  padding: 3.2rem;
  width: 61.2rem;
  height: 24.1rem;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(12, 21, 55, 0.09);
  background: #fff;
}
.box-list-item-container-title {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  color: #1b1c57;
  margin-bottom: 1.6rem;
}
.box-list-item-container-text {
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #626687;
  margin-bottom: 2.4rem;
}
.box-list-item-container-bottom {
  display: flex;
  width: 100%;
}
.box-list-item-container-bottom-img {
  margin-right: 1.6rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.box-list-item-container-bottom-icon {
  fill: #f59e0b;
  margin-right: 1.6rem;
}
.box-list-item-container-bottom-rating {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  color: .box-list-item-container-bottom-rating black;
}

.name-container {
  display: flex;
  flex-direction: column;
  width: 34rem;
  margin-right: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.dots {
  position: absolute;
  bottom: 12rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots-dot {
  border: none;
  background-color: #e0e3eb;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #626687;
  opacity: 1;
}

.more .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.paragraph {
  margin: 0.8rem 0 0.6rem 0;
}

.more-btn {
  margin: 1.6rem 0 4.8rem 0;
  border-radius: 10rem;
  border: transparent;
  padding: 1.2rem 2.4rem;
  width: 14rem;
  height: 4.8rem;
  background-color: #10b981;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
.more-container {
  display: flex;
  gap: 3.2rem;
}
.more-container-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.more-container-list-item {
  display: flex;
  width: 580px;
  height: 148px;
  gap: 3.2rem;
}
.more-container-list-item-img {
  border-radius: 16px;
}
.more-container-list-item-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.more-container-list-item-box-top {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
}
.more-container-list-item-box-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33333;
  color: #1b1c57;
  margin-bottom: 1.6rem;
}
.more-container-list-item-box-bottom {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.more-container-list-item-box-bottom-icon {
  fill: #888b97;
}
.more-container-list-item-box-bottom-text {
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888b97;
}
.more-name {
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #3c4563;
}

.more-right {
  max-width: 58rem;
  align-items: start;
  text-align: start;
}
.more-right-img {
  border-radius: 16px;
  margin-bottom: 2.5rem;
}
.more-right-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
}
.more-text {
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
}

.more-blue {
  position: absolute;
  left: 0;
  top: -17rem;
  height: 67.8rem;
  z-index: -1;
}

.more-green {
  position: absolute;
  left: 0;
  top: 8rem;
  height: 67.8rem;
  z-index: -1;
}

.subscribe .container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 6.8rem;
  margin: 0 auto;
  max-width: 119.2rem;
  height: 31.2rem;
  background-image: image-set(url(../img/violet.png) 1x, url(../img/violet@2x.png) 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3.2rem;
}

.sub-title {
  max-width: 42.4rem;
  margin-bottom: 4rem;
}
.sub-mail {
  position: absolute;
  top: 1.6rem;
  left: 2.4rem;
  fill: #1d4ed8;
}
.sub-btn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  border-radius: 10rem;
  border: transparent;
  padding: 1.2rem 2.4rem;
  width: 15.3rem;
  height: 4.8rem;
  background-color: #10b981;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.71429;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
.sub-orange {
  position: absolute;
  top: 17.3rem;
  left: 6.3rem;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0.9rem 3.2rem 0 rgba(89, 92, 219, 0.1);
}
.sub-robert {
  position: absolute;
  top: 7.1rem;
  left: 20rem;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0.9rem 3.2rem 0 rgba(89, 92, 219, 0.1);
}
.sub-courtney {
  position: absolute;
  top: 14.3rem;
  left: 96rem;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0.9rem 3.2rem 0 rgba(89, 92, 219, 0.1);
}
.sub-noname {
  position: absolute;
  top: 10.7rem;
  left: 107.8rem;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0.9rem 3.2rem 0 rgba(89, 92, 219, 0.1);
}
.sub-white {
  position: absolute;
  top: 3.8rem;
  left: 4rem;
  border-radius: 24px;
}
.sub-building {
  position: absolute;
  top: 17.8rem;
  left: 19.1rem;
  border-radius: 24px;
}
.sub-corner {
  position: absolute;
  top: 4.4rem;
  left: 92.6rem;
  border-radius: 24px;
}
.sub-chair {
  position: absolute;
  top: 19.7rem;
  left: 106.8rem;
  border-radius: 24px;
}

.form {
  padding-top: 12rem;
}
.form-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  padding: 4rem;
  width: 47.8rem;
  box-shadow: 0 8px 32px 0 rgba(12, 21, 55, 0.09);
  background: #fff;
  background-image: image-set(url(../img/create-green.png) 1x, url(../img/create-green.png) 2x), image-set(url(../img/create-blue.png) 1x, url(../img/create-blue.png) 2x);
  background-repeat: no-repeat, no-repeat;
  background-position: -50% 120%, 100% 120%;
  background-size: 39.9rem 34.4rem, 40.6rem 36.6rem;
}
.form-left-text {
  text-align: center;
  margin: 2.4rem 0;
}

.form .container {
  display: flex;
  max-width: 119.2rem;
  margin: 0 auto;
  gap: 3.2rem;
}

.form-title {
  margin-bottom: 0.4rem;
}

.green-line {
  display: inline-block;
  border-radius: 4px;
  width: 40px;
  height: 2px;
  background-color: #10b981;
}

.form-right {
  border-radius: 0.8rem;
  padding: 4rem;
  width: 68.2rem;
  height: 59.2rem;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(12, 21, 55, 0.09);
  background: #fff;
}
.form-right-box {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.form-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.form-right-label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: .form-right-label black;
}
.form-right-input {
  border: 1px solid #e0e3eb;
  border-radius: 2.8rem;
  padding: 1.6rem 2.4rem;
  width: 49.6rem;
  height: 5.6rem;
  appearance: none;
}
.form-right-input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888b97;
}
.form-right-textarea {
  border: 1px solid #e0e3eb;
  border-radius: 2.8rem;
  padding: 1.6rem 2.4rem;
  width: 49.6rem;
  height: 14.4rem;
}

.textarea {
  align-items: start;
}

.option {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888b97;
}

.label-container-checkbox {
  margin-left: 10.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.span-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 6px;
  border: 1px solid #10b981;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}

.icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  display: flex;
  align-items: start;
}

input:checked + .check > .span-icon {
  background: #10b981;
  border: none;
}

input:checked + .check > .span-icon .icon-check {
  fill: white; /* Робимо галочку видимою */
}

.text-checkbox {
  max-width: 46.4rem;
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #626687;
}

.footer {
  position: relative;
  display: flex;
  padding: 0 12.4rem 10.6rem 12.4rem;
  z-index: 10;
}
.footer-left {
  max-width: 37.6rem;
  margin-right: auto;
}
.footer-left-text {
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #626687;
  margin-bottom: 2.4rem;
}
.footer-left-list {
  display: flex;
  gap: 2.4rem;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 0;
  width: 100%;
  height: 60rem;
  background-image: image-set(url(../img/footer-green.png) 1x, url(../img/footer-green.png) 2x), image-set(url(../img/footer-blue.png) 1x, url(../img/footer-blue.png) 2x);
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom;
  background-size: 60.6rem 43.9rem, 41.4rem 50.4rem;
  z-index: -1;
}

.footer .logo {
  padding: 0;
  margin: 0 0 1.6rem 0;
}

.footer-table {
  border-spacing: 3.2rem 1.6rem;
}
.footer-table-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33333;
  color: #1b1c57;
}
.footer-table-text {
  font-size: 1.4rem;
  line-height: 1.71429;
  color: #888b97;
}

.footer-table td {
  min-width: 17.2rem;
}

.footer-cookie {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border-radius: 2.8rem;
  padding: 1.6rem 4rem;
  width: 46.5rem;
  height: 5.6rem;
  background: #d1fae5;
}
.footer-cookie-text {
  font-weight: 600;
  font-size: 1.6rem;
  color: #0b9567;
  margin-right: auto;
}

.icon-cookie {
  fill: #0b9567;
  stroke: #d1fae5;
  margin-right: 1.2rem;
}

.icon-close {
  stroke: #1b1c57;
  stroke-width: 2px;
}

/*# sourceMappingURL=style.css.map */
