@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.more .container {
  position: relative;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.paragraph {
  margin: 0.8rem 0 0.6rem 0;
}

.more {
  &-btn {
    margin: 1.6rem 0 4.8rem 0;
    @include button(4.8rem, 16rem);
  }
  &-container {
    display: flex;
    flex-direction: column;
    min-width: 32rem;
    width: 100%;
    max-width: 70rem;
    gap: 3.2rem;
    &-list {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      overflow-y: hidden;
      scroll-padding-left: 100%;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &:-webkit-scrollbar {
        display: none;
      }
      gap: 3vw;
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 30rem;
        width: 100%;
        max-width: 58rem;
        height: auto;
        min-height: 14.8rem;
        gap: 3.2rem;
        scroll-snap-align: start;
        &-img {
          border-radius: 16px;
          width: 100%;
        }
        &-box {
          display: flex;
          width: 95%;
          margin: 0 auto;
          flex-direction: column;
          align-items: start;
          text-align: start;
          &-top {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            margin-bottom: 1.2rem;
          }
          &-title {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.33333;
            color: $black;
            margin-bottom: 1.6rem;
          }
          &-bottom {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            &-icon {
              fill: $grey-primary;
            }
            &-text {
              font-size: 1.4rem;
              line-height: 1.71429;
              color: $grey-primary;
            }
          }
        }
      }
    }
  }
  &-name {
    font-size: 1.4rem;
    line-height: 1.71429;
    color: #3c4563;
  }
}

.more {
  &-right {
    max-width: 58rem;
    align-items: start;
    text-align: start;
    &-container {
      width: 95%;
      margin: 0 auto;
    }
    &-img {
      border-radius: 16px;
      margin-bottom: 2.5rem;
      max-width: 58rem;
      width: 100%;
      max-height: 28rem;
    }
    &-box {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }
  &-text {
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
  }
}

@media only screen and (min-width: 550px) {
  .more {
    &-container {
      flex-direction: row;
      overflow-y: hidden;
      &-list {
        height: 50.8rem;
        flex-direction: column;
        gap: 3.2rem;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        &-item {
          min-width: 15rem;
          min-height: 30rem;
          &-box {
            width: 100%;
            &-top {
              display: none;
            }
          }
        }
      }
    }
    &-right {
      &-container {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .more {
    &-container {
      min-width: 119.5rem;
      max-height: 50.8rem;
      &-list {
        height: auto;
        min-width: 58rem;
        gap: 3.2rem;
        &-item {
          flex-direction: row;
          width: 58rem;
          min-height: 14.8rem;
          height: 14.8rem;
          gap: 3.2rem;
          &-img {
            height: 14.8rem;
            width: 20rem;
          }
          &-box {
            &-top {
              display: flex;
            }
          }
        }
      }
    }
  }
}

.more-blue {
  position: absolute;
  left: 0;
  top: -17rem;
  height: 67.8rem;
  z-index: -1;
}

.more-green {
  position: absolute;
  left: 0;
  top: 8rem;
  height: 67.8rem;
  z-index: -1;
}
